= WP Thread Comment = 
<div class="comment-childs<?php echo $deep%2 ? ' chalt' : ''; ?>" id="comment-[ID]">
<div style="float:left;padding-right:5px; height:26px;"><?php if(function_exists("get_avatar")) echo get_avatar( $comment, 32 ); ?></div>
<cite>[author] replied at  [time] on [date]:</cite>
[content]
</div>


= Math Comment Spam Protection = 
<p><label for="[fieldname_answer]">[operand1] + [operand2] =  [?] </label> <span class="required">*</span><input type="text" aria-required="true" size="30" value="" name="[fieldname_answer]" id="[fieldname_answer]"></p>
<input type="hidden" value="[result]" name="[fieldname_hash]">
